#canvas {
 position:absolute;
 top: 0px;
 left: 0px;
 z-index: 1;
}

#info {
 position:absolute;
 top: 0px;
 left: 420px;
 z-index: 1;
}

#instruction {
 position:absolute;
 top: 330px;
 left: 420px;
 z-index: 1;
}

#buttons {
  position:absolute;
  top: 200px;
  left: 420px;
  z-index: 1;
 }
